/*
my color palette
ff7d00
f0f0f0
49c4e5
4380d3
336ecc
235cc5
1544ba
0e2e70
0a234b
061826
*/
:root {
    --color-1: hsl(30, 100%, 50%);
    --color-2: hsl(0, 0%, 94%);
    --color-3: hsl(195, 77%, 59%);
    --color-4: hsl(215, 60%, 55%);
    --color-5: hsl(220, 50%, 50%);
    --color-6: hsl(223, 65%, 45%);
    --color-7: hsl(226, 77%, 41%);
    --color-8: hsl(227, 80%, 27%);
    --color-9: hsl(227, 80%, 17%);
    --color-10: hsl(227, 67%, 13%);
    --color-11: hsl(120, 60%, 50%); /* green for success color */
    --color-12: hwb(60 0% 0%); /* yellow for warning color */
    --color-13: hsl(0, 100%, 50%); /* red for error color */

}

:root {
    /* Light color scheme */
    --primary-color: var(--color-3);
    --secondary-color: var(--color-4);
    --background-color: var(--color-2);
    --text-color: var(--color-9);
    --accent-color: var(--color-1);
    --error-color: var(--color-13);
    --success-color: var(--color-11);
    --warning-color: var(--color-12);

    /* Dark color scheme */
    --dark-primary-color: var(--color-5);
    --dark-secondary-color: var(--color-6);
    --dark-background-color: var(--color-9);
    --dark-text-color: var(--color-2);
    --dark-accent-color: var(--color-1);
    --dark-error-color: var(--color-13);
    --dark-success-color: var(--color-11);
    --dark-warning-color: var(--color-12);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}
